<!-- <footer>
    <div class="w-full flex justify-center">
        
    </div> -->
<footer class="pt-14">
    <div role="contentinfo" class="flex flex-col items-center mx-auto">
        <span class="font-semibold  text-sm">Follow on:</span>
        <nav aria-label="Social links">
            <ul class="flex list-none mt-3">
                <li class="px-4">
                    <a href="mailto:contact@masem.at" aria-label="Send an email to contact@masem.at">
                        <i class="fas fa-envelope"></i> Email
                    </a>
                </li>
                <li class="px-4">
                    <a href="https://www.instagram.com/masemcontact/" target="_blank" rel="noopener noreferrer" aria-label="GitHub profile">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </li>
                <li class="px-4">
                    <a href="https://linkedin.com/in/mario-semper-94475528/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn profile">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </li>
                <li class="px-4">
                    <a href="https://x.com/masemContact" target="_blank" rel="noopener noreferrer" aria-label="X (Twitter) profile">
                        <i class="fab fa-x-twitter"></i> X
                    </a>
                </li>
                <li class="px-4">
                    <a href="https://www.instagram.com/masemcontact/" target="_blank" rel="noopener noreferrer" aria-label="Instagram profile">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="flex flex-col items-center">
        <div class="pt-3">
            <a title="Web Analytics" href="https://clicky.com/101486419"><img alt="Clicky" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
            <script async data-id="101486419" src="//static.getclicky.com/js"></script>
        </div>
        <div class="pt-2">
            <div>
                <a href="https://www.flaticon.com/de/kostenlose-icons" title="Icons">Icons by Freepik - Flaticon</a>
            </div>
            <div class="pt-2">
                <a class="page-link" href="/" title="Legal Note">Home</a> | <a class="page-link" href="/legal" title="Legal Note">Legal Note</a> | <a class="page-link" href="/privacy" title="Privacy Policy">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>