<!DOCTYPE html>
<html lang="en">
<head>
  {% include "_head.html" %}
</head>
<body class="bg-gray-100 text-gray-900">
    {% include "_header.html" %}  
    <!-- <div class="max-w-xl mx-auto py-12"> -->
    <div class="flex flex-col mx-auto max-w-xl items-center">
      <form method="post" action="/analyze" class="bg-white p-6 rounded shadow">
        <label class="block mb-2 font-semibold">Enter a URL:</label>
        <input name="url" required type="url" placeholder="https://example.com"
              class="w-full border border-gray-300 p-2 rounded mb-4" />
        <div class="flex justify-between w-full">
          <label class="inline-flex items-center mb-4">
            <input type="checkbox" name="crawl" class="form-checkbox" />
            <span class="ml-2">Include subpages (crawl)</span>
          </label>
          <button type="submit"
                  class="ml-8 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
            {{_('Analyze')}}
          </button>
        </div>
      </form>
    </div>
    {% include "_footer.html" %}
  </body>
</html>
