<!DOCTYPE html>
<html lang="en">
<head>
  {% include "_head.html" %}
</head>
<body class="bg-gray-100 text-gray-900">
    {% include "_header.html" %}  
    <!-- <div class="max-w-xl mx-auto py-12"> -->
    <div class="flex flex-col mx-auto max-w-xl items-start text-left">
        <h2 class="text-3xl font-semibold px-92 mt-12">Legal Notice / Impressum</h2>
        <h3 id="english-version" class="text-2xl mt-6">English Version</h3>
        <p class="mt-2">According to § 5 ECG / § 24 MedienG (Austria):</p>
        <p>Project Name: seo.masem.at
        Website Operator: Mario Semper
        Email: <a href="mailto:contact@masem.at">Contact</a>
        Website: https://seo.masem.at</p>

        <p>Content Responsibility:
        Mario Semper
        <a href="mailto:contact@masem.at">Contact</a></p>

        <p>Disclaimer:
        Despite careful content control, we assume no liability for the content of external links. The operators of the linked pages are solely responsible for their content.</p>

        <h3 id="german-version" class="text-2xl mt-6">Deutsche Version</h3>
        <p class="mt-2">Angaben gemäß § 5 ECG / § 24 MedienG:</p>

        <p>Projektname: seo.masem.at
        Betreiber der Website: Mario Semper
        E-Mail: <a href="mailto:contact@masem.at">Contact</a>
        Website: https://seo.masem.at</p>

        <p>Verantwortlich für den Inhalt:
        Mario Semper
        <a href="mailto:contact@masem.at">Contact</a></p>

        <p>Haftungsausschluss:
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
    </div>
    {% include "_footer.html" %}
  </body>
</html>
